/*---------------------------Fonts----------------------------------------*/

@font-face {
    font-family: 'stargatefont';
    src: url('../../assets/font/stargatefont.ttf');
    src: local('StargateFont'),
    local('StargateFont'),
    url('../../assets/font/stargatefont.ttf') format('opentype');
}

@font-face {
    font-family: 'glyphs';
    src: url('../../assets/font/atlantis-glyphs.ttf');
    src: local('glyphs'),
    local('glyphs'),
    url('../../assets/font/atlantis-glyphs.ttf') format('opentype');
}

/*---------------------stargate font use----------------------*/
.sgfont {
    font-family: 'StargateFont', sans-serif;
}

/*-----------------Main text on home page--------------------------*/
.big {
    font-family: 'StargateFont', sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    color: #f3c50b;
    padding: 10px;
    text-align: center;
}

/*----------------------main font used--------------------*/

.maintext {
    font-family: 'StargateFont', sans-serif;
    text-transform: uppercase;
    font-size: medium;
    color: white;
    margin-left: 10px;
    padding-right: 10px;
    text-align: justify;
    clear: right;
}
/*---------------------------Backgrounds--------------------------------------*/

.bg {
    background-image: url(../../assets/images/sgbig.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg2 {
    background-image: url(../../assets/images/stars.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg3 {
    background-image: url(../../assets/images/moviesbg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg4 {
    background-image: url(../../assets/images/characters.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg5 {
    background-image: url(../../assets/images/weapons.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg6 {
    background-image: url(../../assets/images/spacecraft.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*---------------------------Text & Glyphs-----------------------------------*/

/*---------------------Logo text big------------------*/
.stargate {
    font-family: 'StargateFont', sans-serif;
    font-size: xx-large;
    text-align: left;
    color: #dcd0c0;
    padding-left: 5px;
    opacity: .8;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2px #000;
    padding-top: 3px;
    transition: all 0.2s ease-in-out;
}

/*---------------------glyphs in header and footer from custom fonts-----*/
.glyphs {
    border: 1px solid darkgrey;
    font-family: 'glyphs', sans-serif;
    font-size: xx-small;
    color: white;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    letter-spacing: 16px;
}

/*-----------------logo text small-------------------------*/
.smalllogo {
    font-size: medium;
    color: #c8b283;
    transition: all 0.2s ease-in-out;
}

/*--------------------caption text-----------------------*/
.caption{
    margin-top: 5px;
    margin-left: 12px;
    font-size: x-large;
    color: #dcd0c0;
}

/*----------------Margins, Paddings, Misc-----------------------------------*/

/*--------------------20px margin left-----------------------*/
.vertspace {
    margin-left: 20px;
}

/*-------------------10px margin left--------------------------*/
.marginleft{
    margin-left: 10px;
}

/*----------------small text in footer-------------------------------------*/
.copyr {
    font-size: xx-small;
    font-style: italic;
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 1px;
}

/*--------------------remove underline from links------------------------*/
.link {
    text-decoration: none !important;
}

/*------------------------top gap-----------------------------*/
.gap {
    margin-top: 15px;
}

/*-----------uppercase for custom font---------------------------*/
.uppercase {
    text-transform: uppercase;
}

/*----------------remove padding and cut glyphs--------------------*/
.nopad {
    padding: 0;
    overflow: hidden;
}

/*----------------remove margins-----------------------------*/
.nomar {
    margin: 0;
}

/*----------------------bottom gap---------------------------*/
.gap2 {
    margin-bottom: 15px;
}

/*------------------button effect when hover-------------------*/
.hvr-bounce-to-right:hover {
    background-color: grey;
}


/*------------------media querry for medium devices-----------*/
@media (max-width:1025px) {
    .window {
        width: 100%;
        margin: auto;
    }
}

/*------------------------main container without opacity--------*/
.window {
    width: 100%;
    margin: auto;
    border: 1px solid #f4f4f4;
    background-color: #373737;
}

/*----------------main container with opacity---------------*/
.window2 {
    width: 100%;
    margin: auto;
    border: 1px solid #f4f4f4;
    background-color: #373737;
    opacity: 0.8;
}

/*------------------------Navbar & Buttons-----------------------------------*/

.nav {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}



.button {
    text-align: center;
    padding-top: 5px;
    font-size: x-small;
    text-shadow: 1px 1px 1px #030;
    color: white;
    letter-spacing: 2px;
    margin-top: 5px;
}

/*-----------------block display and center------------------------*/
.block {
    display: block;
    text-align: center;
    margin: auto;
}

/*-----------------------------Borders---------------------------------------*/

/*-------------------------Active border for menu button----------------------*/
.borderactive {
    background-color: #475747;
    border: 1px solid #f4f4f4;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

/*---------------radius borders for header and footer------------------*/
.border {
    background-color: #373737;
    border: 1px solid #f4f4f4;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.border2 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border: 1px solid #f4f4f4;
    background-color: #373737;
    margin-bottom: 0;
}

.border3 {
    height: 17px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border: 1px solid #f4f4f4;
    background-color: #373737;
    opacity: .8;
}

.border4 {
    width: auto;
    height: 17px;
    border: 1px solid #f4f4f4;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #373737;
    opacity: .8;
    padding: 0;
}

.border5 {
    height: 1700px;
    border-radius: 0;
    border: 1px solid #f4f4f4;
    background-color: #373737;
    opacity: .8;
}

/*---------------first word marking------------------*/

.firstword {
    font-family: 'StargateFont', sans-serif;
    
    
    font-size: medium;
    color: #f3c50b;
}

/*------------------logo special transition--------*/
.red:hover,
.stargate:hover {
    color: #f3c50b;
    text-decoration: none;
}


/*--------------------carousel CSS-------------*/

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    /* use this, or not */
    margin: auto;
}

/*---------------images for movie page----------*/
.movieitem {
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
}

/*------------------horizontal double line-------------------------*/
.hline {
    padding-top: 20px;
    margin-top: 8px;
    border-top-style: double;
    width: 100%;
    text-align: center;
    color: #f4f4f4;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------back to top button-----------------------*/
.backtotop {
    color: #f3c50b;
    margin-left: 10px;
    transition: all .5s ease-in-out;
    border: none;
    border-radius: 6px;
    padding: 3px;
}

/*---------------back to top button hover------------------*/
.backtotop:hover {
    text-decoration: none;
    color: red;
    border: none;
}

/*---------------------------button for collapsing menu--------------*/

.charac{
    font-family: 'StargateFont', sans-serif;
    text-transform: uppercase;
    color: #f3c50b;
}

/*----------------transition effect & button for collapsing elements----*/
.buttonchar{
    font-family: sans-serif;
    color: #f3c50b;
    background-color: #373737;
    font-size: large;
    transition: all .2s ease-in-out;
    border: none;
    margin-left: 5px;
    margin-bottom: 6px;
}

/*----------------collapsing element hover-------------*/
.buttonchar:hover{
    color: red;
}



/*---------------small images and media querry fix for smaller devices-----*/
.photo{
    width: 25%;
}

@media (max-width:1024px){
    #photo{
    width: 50%;
}
}

@media (max-width:768px){
    #photo{
    width: 100%;
}
}

/*--------------------images floating left-----------------*/
p img{
    float: left;
    max-width: 180px;
    max-height: 180px;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid white;
}

/*-----------------main page images forced resize-----------*/
.mainpic{
    min-width: 280px !important ;
    min-height: 250px !important ;
}
/*-----------------------clear on right to avoid displacement of elements----*/
.clearfix{
    clear: right;
}

/*------------------------collapse placing and transition-----------*/
.collapse{
    transition: all .3s ease-in-out;
    border: 3px double white;
    margin-right: 10px;
    margin-bottom: 18px;
}

/*-----------------20px gap from top----------------------*/
.firstspace{
    padding-top: 20px;
}