/*---------------------------Fonts----------------------------------------*/

@font-face {
    font-family: 'stargatefont';
    src: url('../../assets/font/stargatefont.ttf');
    src: local('StargateFont'),
    local('StargateFont'),
    url('../../assets/font/stargatefont.ttf') format('opentype');
}

@font-face {
    font-family: 'glyphs';
    src: url('../../assets/font/atlantis-glyphs.ttf');
    src: local('glyphs'),
    local('glyphs'),
    url('../../assets/font/atlantis-glyphs.ttf') format('opentype');
}

/*---------------------------Background--------------------------------------*/

html {
    height: 100%;
    width: 100%;
}

.bg {
    background-image: url(../../assets/images/sgbig.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg2 {
    background-image: url(../../assets/images/racespoll.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg3 {
    background-image: url(../../assets/images/moviesbg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg4 {
    background-image: url(../../assets/images/characters.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg5 {
    background-image: url(../../assets/images/weapons.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg6 {
    background-image: url(../../assets/images/spacecraft.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*---------------------------Text & Glyphs-----------------------------------*/

.stargate {
    font-family: 'StargateFont', sans-serif;
    font-size: xx-large;
    text-align: left;
    color: #dcd0c0;
    padding-left: 5px;
    opacity: .8;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2px #000;
    padding-top: 3px;
    transition: all 0.2s ease-in-out;
}

.glyphs {
    border: 1px solid darkgrey;
    font-family: 'glyphs', sans-serif;
    font-size: xx-small;
    color: white;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    letter-spacing: 16px;
}

.maly {
    font-size: medium;
    color: #c8b283;
    transition: all 0.2s ease-in-out;
}

/*----------------Margins, Paddings, Misc-----------------------------------*/

.poziomyodstep {
    margin-left: 20px;
}

.copyr {
    font-size: xx-small;
    font-style: italic;
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 1px;
}

#link {
    text-decoration: none;
}

.odstep {
    margin-top: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.nopad {
    padding: 0;
    overflow: hidden;
}

.nomar {
    margin: 0;
}

.odstep2 {
    margin-bottom: 15px;
}

.hvr-bounce-to-right:hover {
    background-color: grey;
    color: grey;
}

.okno {
    width: 100%;
    margin: auto;
    border: 1px solid #f4f4f4;
    background-color: #373737;
}

.okno2 {
    width: 100%;
    margin: auto;
    border: 1px solid #f4f4f4;
    background-color: #373737;
    opacity: 0.8;
}

/*------------------------Navbar & Buttons-----------------------------------*/

.nav {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.sgfont {
    font-family: 'StargateFont', sans-serif;
}

.przy {
    text-align: center;
    padding-top: 5px;
    font-size: x-small;
    text-shadow: 1px 1px 1px #030;
    color: white;
    letter-spacing: 2px;
    margin-top: 5px;
}

.block {
    display: block;
    text-align: center;
    margin: auto;
}

/*-----------------------------Borders---------------------------------------*/

.ramkaactive {
    background-color: #475747;
    border: 1px solid #f4f4f4;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.ramka {
    background-color: #373737;
    border: 1px solid #f4f4f4;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.ramka2 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border: 1px solid #f4f4f4;
    background-color: #373737;
    margin-bottom: 0;
}

.ramka3 {
    height: 17px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border: 1px solid #f4f4f4;
    background-color: #373737;
    opacity: .8;
}

.ramka4 {
    width: auto;
    height: 17px;
    border: 1px solid #f4f4f4;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #373737;
    opacity: .8;
    padding: 0;
}

.ramka5 {
    height: 1700px;
    border-radius: 0;
    border: 1px solid #f4f4f4;
    background-color: #373737;
    opacity: .8;
}

@media (max-width:1025px) {
    .okno {
        width: 100%;
        margin: auto;
    }
}

.maintext {
    font-family: 'StargateFont', sans-serif;
    text-transform: uppercase;
    font-size: smaller;
    color: white;
    padding: 10px;
}

.firstword {
    font-family: 'StargateFont', sans-serif;
    text-transform: uppercase;
    font-size: small;
    color: #f3c50b;
}


.red:hover,
.stargate:hover {
    color: #f3c50b;
}

.miscbord {
    border: 1px solid grey;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    /* use this, or not */
    margin: auto;
}

.center {
    text-align: center;
}

.big {
    font-family: 'StargateFont', sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    color: #f3c50b;
    padding: 10px;
    text-align: center;
}

.movieitem {
    text-align: center;
}

.hline {
    padding-top: 20px;
    border-top-style: double;
    width: 100%;
    text-align: center;
    color: #f4f4f4;
    margin-left: auto;
    margin-right: auto;
}

.backtotop {
    color: #f3c50b;
    margin-left: 10px;
    transition: all .5s ease-in-out;
    border: 1px solid #f4f4f4;
    border-radius: 6px;
    padding: 3px;
}

.backtotop:hover {
    text-decoration: none;
    color: red;
    border: 1px solid red;
}